<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Devices</title>

    <th:block th:insert="~{includes/skeleton :: head}"></th:block>
</head>
<body>

<main class="h-100 px-5 py-3 bg-light">
    <div class="row">
        <h1 th:if="${referral.equals('patient')}"
            th:text="|${patient.getSurname()} ${patient.getName()} (${patient.getSsnNumber()}) - Device History|">
        </h1>
        <h1 th:if="${referral.equals('encounter')}"
            th:text="|Encounter ${id} - Device History|">
        </h1>

        <nav aria-label="breadcrumb" class="mt-3">
            <ol th:if="${referral.equals('patient')}" class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/web/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/web/patients}">Patients</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/web/patient/__${patient.getId()}__}"
                       th:text="|${patient.getSurname()} ${patient.getName()}|"></a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                    Device History
                </li>
            </ol>
            <ol th:if="${referral.equals('encounter')}" class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/web/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    Encounters
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/web/encounter/__${id}__}"
                       th:text="|Encounter ${id}|"></a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                    Device History
                </li>
            </ol>
        </nav>
    </div>
    <div class="row mt-2">
        <div class="col col-12 col-md-3 mt-2">
            <div class="card">
                <div class="card-body">
                    <form method="get" th:action="|@{${'/web/' + referral + '/' + id + '/devices/' + page}}|"
                          th:object="${deviceSearch}">
                        <div class="row mt-2">
                            <div class="form-group col col-12">
                                <label class="small" for="code">Device (SNOMED code)</label>
                                <input class="form-control form-control-sm" id="code" th:field="*{code}"
                                       type="text">
                            </div>
                            <div class="form-group col col-12">
                                <label class="small" for="udi">Device UDI</label>
                                <input class="form-control form-control-sm" id="udi" th:field="*{udi}"
                                       type="text">
                            </div>
                            <div
                                    aria-describedby="onsetDateLabel"
                                    class="form-group col col-12"
                                    id="onsetDateRange">
                                <label
                                        class="small"
                                        id="onsetDateLabel">
                                    Start date
                                </label>
                                <div class="input-group input-group-sm">
                                    <label class="input-group-text visually-hidden" for="startDateFrom">From</label>
                                    <input
                                            class="form-control"
                                            id="startDateFrom"
                                            th:field="*{startFrom}"
                                            type="date"/>
                                    <label class="input-group-text" for="startDateTo">To</label>
                                    <input
                                            class="form-control"
                                            id="startDateTo"
                                            th:field="*{startTo}"
                                            type="date"/>
                                </div>
                                <div
                                        class="form-group col col-12 col-md-auto d-flex align-items-end"
                                        onchange="checkActiveValue()">
                                    <div class="form-check">
                                        <input
                                                class="form-check-input"
                                                id="active"
                                                th:field="*{active}"
                                                type="checkbox"/>
                                        <label
                                                class="form-check-label"
                                                for="active" th:field="*{active}">
                                            Active
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <h5 class="card-title" style="font-weight: 600">
                                Sort
                            </h5>
                            <div class="form-group col col-12 mt-2">
                                <label class="small" for="perpage">Per page</label>
                                <select class="form-select form-select-sm" id="perpage" th:field="*{perPage}">
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                            <div class="col col-12 mt-2">
                                <label class="small" for="sort">Sort</label>
                                <select class="form-select form-select-sm" id="sort" th:field="*{sort.sortField}">
                                    <option value="event-date">Start date</option>
                                    <option value="status">Status</option>
                                    <option value="code">Device code</option>
                                    <option value="device">Device UDI</option>
                                </select>
                            </div>
                            <div class="col col-12 mt-2">
                                <label class="small" for="sortDirection">Direction</label>
                                <select class="form-select form-select-sm" id="sortDirection"
                                        th:field="*{sort.sortOrder}">
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col col-12">
                                <button class="btn btn-sm btn-primary w-100" type="submit">Search</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col col-12 col-md-9 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3" style="font-weight: 600">
                        Device Requests
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th scope="col">Period</th>
                                <th scope="col">Device code</th>
                                <th scope="col">Device UDI</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${devices.isEmpty()}">
                                <td class="text-center" colspan="4">No devices</td>
                            </tr>
                            <tr th:each="device, iter : ${devices.getEntries()}">
                                <td th:text="${iter.count}"></td>
                                <td th:text="|${device.getStart()} - ${device.getStop()}|"></td>
                                <td>
                                    <a class="external"
                                       th:href="${device.getDevice().getUri()}"
                                       th:text="${device.getDevice().getDisplay()}"></a>
                                </td>
                                <td th:text="${device.getUdi()}"></td>
                                <td>
                                    <a class="btn btn-sm btn-outline-success"
                                       th:href="|@{${device.getEncounter().getUri()}}|"
                                       th:if="${device.getEncounter().isValid()}" title="View related encounter">
                                        <i class="fa fa-stethoscope"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-sm">
                            <li class="page-item" th:if="${devices.hasPrev()}">
                                <a class="page-link"
                                   th:href="@{'/web/' + ${referral} + '/' + id + '/devices/' + ${page - 1} + '?' + ${paramString}}">&lt;</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#" th:text="${page}">&lt;</a>
                            </li>
                            <li class="page-item" th:if="${devices.hasNext()}">
                                <a class="page-link"
                                   th:href="@{'/web/' + ${referral} + '/' + id + '/devices/' + ${page + 1} + '?' + ${paramString}}">&gt;</a>
                            </li>
                        </ul>
                    </nav>
                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- col -->
    </div> <!-- row -->
</main>

<th:block th:insert="~{includes/skeleton :: scripts}"></th:block>

</body>
</html>