<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Procedures</title>

    <th:block th:insert="~{includes/skeleton :: head}"></th:block>
</head>
<body>

<main class="h-100 px-5 py-3 bg-light">
    <div class="row">
        <h1 th:if="${referral.equals('patient')}"
            th:text="|${patient.getSurname()} ${patient.getName()} (${patient.getSsnNumber()}) - Procedure History|">
        </h1>
        <h1 th:if="${referral.equals('encounter')}"
            th:text="|Encounter ${id} - Procedures|">
        </h1>

        <nav aria-label="breadcrumb" class="mt-3">
            <ol class="breadcrumb" th:if="${referral.equals('patient')}">
                <li class="breadcrumb-item">
                    <a th:href="@{/web/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/web/patients}">Patients</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/web/patient/__${patient.getId()}__}"
                       th:text="|${patient.getSurname()} ${patient.getName()}|"></a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                    Procedure history
                </li>
            </ol>
            <ol class="breadcrumb" th:if="${referral.equals('encounter')}">
                <li class="breadcrumb-item">
                    <a th:href="@{/web/}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    Encounters
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/web/encounter/__${id}__}"
                       th:text="|Encounter ${id}|"></a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                    Procedures
                </li>
            </ol>
        </nav>
    </div>
    <div class="row mt-2">
        <div class="col col-12 col-md-3 mt-2">
            <div class="card">
                <div class="card-body">
                    <form method="get" th:action="|@{${'/web/' + referral + '/' + id + '/procedures'}}|"
                          th:object="${procedureSearch}">
                        <div class="row mt-2">
                            <div class="form-group col col-12">
                                <label class="small" for="code">Code (SNOMED code)</label>
                                <input class="form-control form-control-sm" id="code" th:field="*{code}" type="text"/>
                            </div>
                            <div class="form-group col col-12">
                                <label class="small" for="reason">Reason (SNOMED code)</label>
                                <input class="form-control form-control-sm" id="reason" th:field="*{reason}"
                                       type="text"/>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div
                                    aria-describedby="dateLabel"
                                    class="form-group col col-12"
                                    id="dateRange">
                                <label
                                        class="small"
                                        id="dateLabel">
                                    Date
                                </label>
                                <div class="input-group input-group-sm">
                                    <label class="input-group-text" for="dateFrom">From</label>
                                    <input
                                            class="form-control"
                                            id="dateFrom"
                                            th:field="*{dateFrom}"
                                            type="date"/>
                                    <label class="input-group-text" for="dateTo">To</label>
                                    <input
                                            class="form-control"
                                            id="dateTo"
                                            th:field="*{dateTo}"
                                            type="date"/>
                                </div> <!-- input-group -->
                            </div> <!-- form-group -->
                        </div> <!-- row -->
                        <div class="row mt-3">
                            <h5 class="card-title" style="font-weight: 600">
                                Sort
                            </h5>
                            <div class="form-group col col-12 mt-2">
                                <label class="small" for="perpage">Per page</label>
                                <select class="form-select form-select-sm" id="perpage" th:field="*{perPage}">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="col col-12 mt-2">
                                <label class="small" for="sort">Sort</label>
                                <select class="form-select form-select-sm" id="sort" th:field="*{sort.sortField}">
                                    <option
                                            value="date">
                                        Date
                                    </option>
                                    <option value="code">
                                        Code
                                    </option>
                                    <option value="reason">
                                        Reason
                                    </option>
                                </select>
                            </div>
                            <div class="col col-12 mt-2">
                                <label class="small" for="sortDirection">Direction</label>
                                <select class="form-select form-select-sm" id="sortDirection"
                                        th:field="*{sort.sortOrder}">
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col col-12">
                                <button class="btn btn-sm btn-primary w-100" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col col-12 col-md-9 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3" style="font-weight: 600">
                        Procedures
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">Code</th>
                                <th scope="col">Reason</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${procedures.isEmpty()}">
                                <td class="text-center" colspan="5">No procedures</td>
                            </tr>
                            <tr th:each="procedure, iter : ${procedures.getEntries()}">
                                <td th:text="${iter.count}"></td>
                                <td th:text="${procedure.getDatetime()}"></td>
                                <td>
                                    <a class="external" th:href="${procedure.getCode().getUri()}"
                                       th:text="${procedure.getCode().getDisplay()}"></a>
                                </td>
                                <td>
                                    <th:block th:if="${!procedure.getReason().isValid()}"
                                              th:text="${procedure.getReason().getDisplay()}">
                                    </th:block>
                                    <a class="external" th:href="${procedure.getReason().getUri()}"
                                       th:if="${procedure.getReason().isValid()}"
                                       th:text="${procedure.getReason().getDisplay()}"></a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-outline-primary"
                                       th:href="|@{${procedure.getEncounter().getUri()}}|"
                                       th:if="${procedure.getEncounter().isValid()}"
                                       title="View related encounter">
                                        <i class="fa fa-stethoscope"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-sm">
                            <li class="page-item" th:if="${procedures.hasPrev()}">
                                <a class="page-link"
                                   th:href="@{'/web/' + ${referral} + '/' + id + '/procedures/' + ${page - 1} + '?' + ${paramString}}">&lt;</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#" th:text="${page}">&lt;</a>
                            </li>
                            <li class="page-item" th:if="${procedures.hasNext()}">
                                <a class="page-link"
                                   th:href="@{'/web/' + ${referral} + '/' + id + '/procedures/' + ${page + 1} + '?' + ${paramString}}">&gt;</a>
                            </li>
                        </ul>
                    </nav>
                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- col -->
    </div> <!-- row -->
</main>

<th:block th:insert="~{includes/skeleton :: scripts}"></th:block>

<script>
    function checkActiveValue() {
        if ($('#active').is(':checked')) {
            $('#abatementDateRange').hide();
            $('#abatementDateRange input').prop('disabled', true);
        } else {
            $('#abatementDateRange').show();
            $('#abatementDateRange input').prop('disabled', false);
        }
    }

    $(document).ready(function () {
        checkActiveValue();
        $('#active').change(function () {
            checkActiveValue();
        });
    });
</script>
</body>
</html>