<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Welcome!</title>
        <meta charset="UTF-8" />
    </head>

    <body>
        <p th:text="#{welcome}"></p>
		<p>Time is: <span th:text="${serverTime}"></span></p>
    </body>

</html>
